<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="bd9c9ee2-2559-4753-bb86-26ecc20edd81" Publisher="CN=sangmuk" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Learnch</DisplayName>
    <PublisherDisplayName>sangmuk</PublisherDisplayName>
    <Logo>Assets\icon_launch.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Learnch.App">
      <m2:VisualElements DisplayName="Learnch" Square150x150Logo="Assets\icon_launch.png" Square30x30Logo="Assets\icon_launch.png" Description="Learnch" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile Square310x310Logo="Assets\icon_launch.png" Wide310x150Logo="Assets\icon_launch.png" Square70x70Logo="Assets\icon_launch.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffb534" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>